body {
    background-color: blueviolet;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/040/754/389/small/ai-generated-a-calm-and-blue-sea-water-background-with-sky-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}